<div>
    <h2>Create Event</h2>
    <form class="form event-form">
        <label for="event_name">Event Name:</label>
        <input class="form-input" type="text" id="event_name" />

        <label for="artist_name">Artist Name:</label>
        <input class="form-input" type="text" id="artist_name" />

        <label for="event_time">Event Time:</label>
        <input class="form-input" type="text" id="event_time" />

        <label for="stage_time">Stage Time:</label>
        <input class="form-input" type="text" id="stage_time" />

        <label for="description">Description:</label>
        <input class="form-input" type="text" id="description" />

        <button class="btn btn-primary" type="submit">Create Event</button>
    </form>
</div>

<script src="/js/form.js"></script>
