<div class="form-card">
    <h2>Create Event</h2>
    <form class="form" id="eventform">
        <div>
            <label class="text" for="event_name">Event Name:</label>
            <input class="form-input text" type="text" id="event_name" />
        </div>
        <div>
            <label class="text" for="artist_name">Artist Name:</label>
            <input class="form-input text" type="text" id="artist_name" />
        </div>
        <div>
            <label class="text" for="event_time">Event Time:</label>
            <input class="form-input text" type="text" id="event_time" />
        </div>
        <div>
            <label class="text"for="stage_time">Stage Time:</label>
            <input class="form-input text" type="text" id="stage_time" />
        </div>
        <div>
            <label class="text"for="description">Description:</label>
            <input class="form-input text" type="text" id="description" />
        </div>
        <br/>
        <div>
            <button class="btn btn-primary text" type="submit">Create Event</button>
        </div>
    </form>
</div>

<script src="/js/form.js"></script>
