<div>
    <h2>Create Event</h2>
    <form class="form login-form">
        <label for="email-login">Event Name:</label>
        <input class="form-input" type="text" id="email-login" />

        <label for="email-login">Artist Name:</label>
        <input class="form-input" type="text" id="email-login" />

        <label for="email-login">Event Time:</label>
        <input class="form-input" type="text" id="email-login" />

        <label for="email-login">Stage Time:</label>
        <input class="form-input" type="text" id="email-login" />

        <label for="email-login">Description:</label>
        <input class="form-input" type="text" id="email-login" />

        <button class="btn btn-primary" type="submit">Create Event</button>
    </form>
</div>

<script src="/js/login.js"></script>
