<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <heeader>
        <h1>STAGED</h1>
        <h1 class="neon">LOGIN/SIGNUP</h1>
    </header>
    <footer>
        <h2>TERMS OF USE</h2>
        <h2>MANAGE COOKIE PREFERENCES</h2>
        <h2>CONTACT</h2>
        <h2>© 2024 ASU BOOTCAMP</h2>
    </footer>
</body>
</html>